!!!
%html
  %head
    %title CocktailFly
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
      %a.navbar-brand{:href => "#"} Home
      %ul.nav.navbar-nav
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Cities
          .dropdown-menu
            - Map.order(:title).all.each do |map|
              = link_to map.title, map, class: 'dropdown-item'

      %ul.nav.navbar-nav.pull-right
        %li.nav-item
          %a.nav-link{ href: '/contact' } Contact

    = yield
    = javascript_include_tag 'application'
